<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TurnoVitalDb"
			 connectionString="Server=127.0.0.1;Port=3306;Database=TurniVitalDB;Uid=root;Pwd=AdminDB9026_;SslMode=None;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
