<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Cambia la IP, DB, user y password a tu servidor MySQL -->
		<add name="TurnoVitalPlusDb"
			 connectionString="Server=127.0.0.1;Port=3306;Database=TurniVitalDB;Uid=root;Pwd=AdminDB9026;SslMode=none;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="UrlGuia" value="https://example.com/guia" />
		<add key="UrlSoporte" value="https://example.com/soporte" />
		<add key="UrlAyuda" value="https://example.com/ayuda" />
	</appSettings>
</configuration>
